.Left{
  width: 10rem;
  height: 100vh;
  padding-top: 4rem;
  background-color: rgb(239, 240, 240);
  /* border: 1px solid red; */
}

.Left .upper-item {
  text-align: start;
  height: 45vh;
  width: 10rem;
  /* border: 1px solid blue; */
}

.image-name{
  margin-top: 1rem;
}


.image-name:hover{
  background-color: rgb(228, 230, 230);
}

 .image-name img{
  height: 2rem;
  width: 2rem;
}

.image-name span{
  font-size: small;
  font-weight: 600;
}


.lower-item{
  /* border: 1px solid black; */
  margin-top: 2rem;
  height:20vh;
  text-align: start;
}

.lower-item span{
  color: rgb(147, 149, 152);
  font-size: small;
  /* text-decoration:none; */
  padding-left:2px;
}

.lower-item span:hover{
  text-decoration: underline;
}

hr{
  margin-right: 15px;
  color: rgb(147, 149, 152);
}
